@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&display=swap');


body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background-color: #FFF7ED;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6.5%;
}

.pershkrimi{
    width: 500px;
    height: 580px;
    background-color: #F1A183;
    border-radius: 20px 0 0  20px;
}

.pershkrimi h3{
    font-size: 2.2rem;
    padding-left: 70px;
}
.pershkrimi p{
    text-align: center;
    margin: 30px;
    font-size: large;
    padding-top: 30px;
}
.content{
    width: 600px;
    height: 580px;
    background-color: white;
    text-align: center;
    border-radius: 0 20px 20px 0 ;
}

.content h2 {
    color: #F1A183;
    font-size: 2.5rem;
}


#emri{
    width: 15rem;
    height: 2.5rem;
    margin-right: 10px;
    font-size: medium;
    padding-left: 10px;
    border: 2px solid #F1A183;
}

#email{
    width: 32rem;
    height: 2.5rem;
    margin-right: 10px;
    font-size: medium;
    padding-left: 10px;
    border: 2px solid #F1A183;
}

form textarea{
    width: 32rem;
    margin-right: 10px;
    font-size: 17.5px;
    padding-left: 10px;
    border: 2px solid #F1A183;
}

#btn{
    width: 300px;
    height: 50px;
    background-color: #F1A183;
    border: 1px solid #F1A183;
    border-radius: 20px;
    font-size: larger;
    color: whitesmoke;
    cursor: pointer;
}

#btn:hover{
    background-color: #FFF7ED;
    color: #F1A183;
}